# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Expo
.expo/
.expo-shared/

# Build
web-build/
dist/
build/

# Editor and OS
.vscode/
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Misc
.cache/
coverage/
*.log
